.container {
  margin: 20px;
  min-width: 30%;
  min-height: 100%;
  flex: 1;
  max-width: 600px;
}

.langs {
  margin: 10px;
}

.textfield textarea {
  font-size: 2rem;
  line-height: 3rem;
}

@media (max-width: 740px) {
  .container {
    margin: 10px;
  }
  .container h2 {
    font-size: 2rem;
  }
  .container h5 {
    font-size: 1rem;
  }
  .container textarea {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .container button {
    font-size: 0.8rem;
    font-weight: 800;
    height: 40px;
  }
  .langs {
    margin: 5px;
  }
}
