.container {
  position: relative;
}
.container button {
  width: 140px;
  margin: 10px;
}
.imageContainer {
  height: 169px;
  width: 500px;
  overflow: hidden;
  border: red 3px solid;
}

@media (max-width: 500px) {
  .container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container button {
    font-weight: 800;
    height: 40px;
  }
  .imageContainer {
    width: 100vw;
  }

  .imageContainer img {
    transform: scale(0.67);
  }
}

.bigX {
  position: absolute;
  top: 50%; /* Place it at the top of the container */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%);
  z-index: 999;
}

.fadeOut {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bumpAnimation {
  animation: bump 0.5s ease-in-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
