.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p,
input,
button {
  font-size: 1rem;
  margin: 8px;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

.home {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wordlist-container {
  margin: 20px;
  flex: 1;
  max-width: 600px;
}
.wordlist-container button {
  height: 42.25px;
}

.quiz {
  margin: 0 10px 0 5px;
}

.badge {
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .wordlist-container button {
    padding: 0;
  }
  .quiz {
    margin: 0;
  }
  .badge {
    padding-right: 0;
  }
}

@media (max-width: 740px) {
  .home {
    flex-direction: column;
  }
  .imageContainer {
    width: 90vw;
  }
  .wordlist-container {
    margin: 10px;
  }
  .wordlist-container button {
    font-size: 0.8rem;
    font-weight: 800;
    height: 40px;
  }
  .badge {
    padding-right: 0;
  }
}
